<nav class="navbar navbar-light p-3">
  <img class="navbar-icon" src="https://www.svgrepo.com/show/35017/popcorn.svg">
  <ul class="nav navbar-right">
    <li class="btn btn-red" id="navbar-link"><%= link_to 'New list', new_list_path  %></li>
    <li class="btn btn-red" id="navbar-link"><%= link_to 'My lists', lists_path  %></li>
  </ul>
</nav>
