// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-red: rgb(169, 23, 23);
$very-dark-red: rgb(100, 10, 10);
$dark-grey: rgb(51, 49, 49);
$very-light-grey: rgb(227, 226, 226);
