.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.card, .card-lists {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-lists > a {
  text-decoration: none;
  color: $dark-grey;
  font-weight: bold;

  &:hover {
    color: $dark-red;
  }
}


.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.movies-info h3 {
  margin: 0;
  font-size: 18px;
}

.movies-info p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.card .movies-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
