.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.movies-info h3 {
  margin: 0;
  font-size: 18px;
}

.movies-info p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}

.card .movies-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
